<div ng-app="app">
  <div ng-controller="booksCtrl" ng-init="setup()">
    <h1>{{ message }}</h1>
    <h1>Interesting Books</h1>
    <h3>Number of books: {{books.length}}</h3>
      <div ng-repeat="book in books">
      <h3 ng-click="toggleDetails">Title: {{book.title}}</h3>
      <h4>Author: {{book.author}}</h4>
      <h4 ng-if="showDetails">Pubilisher: {{book.pubilisher}}<br>
      Genre: {{book.genre}}<br>
      Year: {{book.year}}</h4>
      <hr>
      </div>
    </h2>
    
    
  </div>
</div>